# Secrets
.secrets/

# R notebook html files
*.nb.html

# download files
farmigo_downloads/

# member pickup files
Member Pick-up Details*.csv


# dcf file of shinyapps
*.dcf

# shinyapps.io
rsconnect/
